{% extends 'service/index.html' %}
{% load static %}

{% block detail_block %}
    <div class="panel panel-info">
        <div class="panel-heading">
            สร้างคำร้องใหม่
        </div>
        <div class="panel-body">
            <form id="create_service_request" method="post" action="{% url 'create_service_request' %}">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <div class="form-group">
                        <label>จาก</label><br/>
                        {{ user_details }}
                    </div>

                    {% for field in form.visible_fields %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                            <div class="form-group">
                                <label for="{{ field.label }}">{{ field.label }}</label><br/>
                                {{ field }}
                            </div>
                    {% endfor %}
                <button type="submit" class="btn btn-primary has-spinner">
                    <i class="fa fa-spinner fa-spin"></i>
                    ส่งคำร้อง
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block include_js %}
    <script src="{% static "js/service.js" %}"></script>
{% endblock %}