<div class="panel panel-danger">
    <div class="panel-body">
        {{ error_message }}
        <div class="pull-right">
            <a>
                <span class="glyphicon glyphicon-remove" id="remove-receive-request{{ service_request.id }}-panel"></span>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#remove-receive-request{{ service_request.id }}-panel').click(function(){
        $('#panel-request-{{ service_request.id }}').html('');
    });
</script>