{% extends 'master-detail-view.html' %}

{% load service_extra %}
{% load static %}

{% block title %}
    Service
{% endblock %}

{% block head_block %}
    <a class="navbar-brand dropdown-toggle" id="head-menu" data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-{{ app.icon }}" aria-hidden="true"></span>
        {{ app.name }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="service-menu">
        {% get_service_menu user_details current_menu %}
    </ul>
{% endblock %}

{% block master_block %}
    <ul class="nav nav-sidebar">
        {% get_service_menu user_details current_menu %}
    </ul>
{% endblock %}

{% block detail_block %}
    {% if requests %}
        {% for service_request in requests %}
            {% get_request_panel service_request %}
        {% endfor %}
    {% else %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            ไม่มีคำร้องขอรับบริการที่ยังดำเนินการไม่เสร็จ
        </div>
    {% endif %}
{% endblock %}

{% block include_js %}
    <script src="{% static "js/service.js" %}"></script>
{% endblock %}