{% load service_extra %}
{% if user_details.is_service_support %}

    <li class="dropdown-header">งานบริการของฉัน</li>

    <li {% if current_menu == 'support' %}class="active"{% endif %}>
        <a href="{% url 'service_support' %}">งานค้าง
            {% if current_menu == 'support' %}
                {% get_service_support_badge user_details 'active' %}
            {% else %}
                {% get_service_support_badge user_details %}
            {% endif %}
        </a>
    </li>
    <li {% if current_menu == 'support_history' %}class="active"{% endif %}>
        <a href="{% url 'service_support_history' %}">งานเก่า
        </a>
    </li>

    <hr/>
{% endif %}
{% if user_details.is_service_user %}

    <li class="dropdown-header">คำร้องของฉัน</li>

    <li {% if current_menu == 'index' %}class="active"{% endif %}>
        <a href="{% url 'service_index' %}">ติดตามคำร้อง
            {% if current_menu == 'index' %}
                {% get_service_score_badge user_details 'active' %}
            {% else %}
                {% get_service_score_badge user_details %}
            {% endif %}
        </a>
    </li>
    <li {% if current_menu == 'create_request' %}class="active"{% endif %}>
        <a href="{% url 'create_service_request' %}">สร้างคำร้อง</a>
    </li>
    <li {% if current_menu == 'history' %}class="active"{% endif %}><a href="{% url 'service_history' %}">คำร้องเก่า</a></li>
{% endif %}