{% load service_extra %}

<div id="panel-request-{{ service_request.id }}">
    <div class="panel {% if service_request.status == 0 %}panel-info{% elif service_request.status == 1 %}panel-primary{% elif service_request.status == 2 %}panel-success{% endif %}">
        <div class="panel-heading">
            <label>ถึงฝ่าย</label> {{ service_request.team }}
            <div class="pull-right">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                {% if service_request.priority == 1 %}
                    น้อย
                {% elif service_request.priority == 2 %}
                    ปานกลาง
                {% elif service_request.priority == 3 %}
                    มาก
                {% elif service_request.priority == 4 %}
                    ด่วนที่สุด
                {% endif %}
                {% if service_request.status == 0 %}
                    |
                    <a href="" data-toggle="modal" data-target="#modal-{{ service_request.id }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </div>
            <br/>

        </div>
        <div class="panel-body">
            {{ service_request.message }}
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                รอดำเนินการ
                <div class="pull-right">
                    {% get_day_name service_request.time.date %}
                    {{ service_request.time|date:"H:i" }}
                </div>
            </li>
            {% if service_request.status > 0 %}
                <li class="list-group-item">
                    ดำเนินการโดย {{ service_request.support }}
                    <div class="pull-right">
                        {% get_day_name service_request.support_time.date %}
                        {{ service_request.support_time|date:"H:i" }}
                    </div>
                </li>
            {% endif %}
            {% if service_request.status > 1 %}
                <li class="list-group-item">
                    เสร็จสิ้น
                    <div class="pull-right">
                        {% get_day_name service_request.finish_time.date %}
                        {{ service_request.finish_time|date:"H:i" }}
                    </div>
                </li>
            {% endif %}
        </ul>
        {% if service_request.status == 2 %}
            <div class="panel-footer">
                <form class="center" method="post" action="" id="request{{ service_request.id }}-score-form">
                    <div class="form-group">
                        <label for="service-score">กรุณาให้คะแนนบริการครั้งนี้</label>
                        <input type="number" name="service-star-score-{{ service_request.id }}" id="service-star-score-{{ service_request.id }}" class="rating" />
                    </div>
                    <button type="button" class="btn btn-default score-service-request" id="score-service-request{{ service_request.id }}-button" request-id="{{ service_request.id }}">
                        ส่ง
                    </button>
                </form>
            </div>
        {% endif %}
    </div>
</div>
{% if service_request.status == 0 %}
    <div class="modal fade" id="modal-{{ service_request.id }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">ลบคำร้อง</h4>
                </div>
                <div class="modal-body">
                    <p>คุณแน่ใจหรือไม่ที่จะลบคำร้องขอรับบริการนี้ คลิกยืนยันหากต้องการลบคำร้อง</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>

                    <button type="button" class="btn btn-danger delete-request" request-id="{{ service_request.id }}" data-dismiss="modal">ยืนยัน</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endif %}