{% extends 'master-detail-view.html' %}

{% load service_extra %}
{% load static %}

{% block title %}
    Service
{% endblock %}

{% block head_block %}
    <a class="navbar-brand dropdown-toggle" id="head-menu" data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-{{ app.icon }}" aria-hidden="true"></span>
        {{ app.name }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="service-menu">
        {% get_service_menu user_details current_menu %}
    </ul>
{% endblock %}

{% block master_block %}
    <ul class="nav nav-sidebar">
        {% get_service_menu user_details current_menu %}
    </ul>
{% endblock %}

{% block detail_block %}

    {% if service_requests %}
        {% for request in service_requests %}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <label>ถึงฝ่าย</label> {{ request.team }}
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        {% if request.priority == 1 %}
                            น้อย
                        {% elif request.priority == 2 %}
                            ปานกลาง
                        {% elif request.priority == 3 %}
                            มาก
                        {% elif request.priority == 4 %}
                            ด่วนที่สุด
                        {% endif %}
                    </div>
                    <br/>
                </div>
                <div class="panel-body">
                    {{ request.message }}
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        จาก {{ request.user_details }}
                        <div class="pull-right">
                            {% get_day_name request.time.date %}
                            {{ request.time|date:"H:i" }}
                        </div>
                    </li>
                    <li class="list-group-item">
                        ดำเนินการ
                        <div class="pull-right">
                            {% get_day_name request.support_time.date %}
                            {{ request.support_time|date:"H:i" }}
                        </div>
                    </li>
                    <li class="list-group-item">
                        เสร็จสิ้น
                        <div class="pull-right">
                            {% get_day_name request.finish_time.date %}
                            {{ request.finish_time|date:"H:i" }}
                        </div>
                    </li>
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            คุณยังไม่มีงานบริการที่ดำเนินการเสร็จแล้ว
        </div>
    {% endif %}
{% endblock %}

{% block include_js %}
    <script src="{% static "js/service.js" %}"></script>
{% endblock %}