{% load service_extra %}

<div class="panel {% if service_request.status == 0 %}panel-info{% elif service_request.status == 1 %}panel-primary{% endif %}">
    <div class="panel-heading">
        <label>ถึงฝ่าย</label> {{ service_request.team }}
        <div class="pull-right" id="spinner-area-request{{ service_request.id }}">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            {% if service_request.priority == 1 %}
                น้อย
            {% elif service_request.priority == 2 %}
                ปานกลาง
            {% elif service_request.priority == 3 %}
                มาก
            {% elif service_request.priority == 4 %}
                ด่วนที่สุด
            {% endif %}
            |
            {% if service_request.status == 0 %}
                <a href="" data-toggle="modal" data-target="#receive-{{ service_request.id }}">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                </a>
            {% elif service_request.status == 1 %}

                    <a href="" data-toggle="modal" data-target="#done-{{ service_request.id }}">
                        <span class="glyphicon glyphicon-check white" aria-hidden="true"></span>
                    </a>
            {% endif %}
        </div>
        <br/>

    </div>
    <div class="panel-body">
        {{ service_request.message }}
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            จาก {{ service_request.user_details }}
            <div class="pull-right">
                {% get_day_name service_request.time.date %}
                {{ service_request.time|date:"H:i" }}
            </div>
        </li>
        {% if service_request.status == 1 %}
            <li class="list-group-item">
                ดำเนินการ
                <div class="pull-right">
                    {% get_day_name service_request.support_time.date %}
                    {{ service_request.support_time|date:"H:i" }}
                </div>
            </li>
        {% endif %}
    </ul>
</div>

{% if service_request.status == 0 %}

    <div class="modal fade" id="receive-{{ service_request.id }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">รับคำร้อง</h4>
                </div>
                <div class="modal-body">
                    <p>คุณต้องการรับคำร้องนี้ไปดำเนินการใช่หรือไม่ คลิกรับคำร้องเพื่อเป็นการยืนยันและเริ่มดำเนินการ</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>

                    <button type="button" class="btn btn-danger receive-request" request-id="{{ service_request.id }}" data-dismiss="modal">รับคำร้อง</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="text/javascript">
        $('.receive-request').click(function(){
            var request_id = $(this).attr('request-id');

            $.get('/service/request/'+request_id+'/receive/', {}, function(data){
                $('#receive-'+request_id).modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('#panel-request-'+request_id).html(data);
            });
        });
    </script>

{% elif service_request.status == 1 %}

    <div class="modal fade" id="done-{{ service_request.id }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">ดำเนินการเสร็จสิ้น</h4>
                </div>
                <div class="modal-body">
                    <p>คุณดำเนินการตามคำร้องนี้เสร็จครบถ้วนแล้วใช่หรือไม่ คลิกเสร็จสิ้นเพื่อสิ้นสุดการดำเนินการและให้ผู้รับบริการประเมินความพึงพอใจ</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>

                    <button type="button" class="btn btn-danger done-request" request-id="{{ service_request.id }}" data-dismiss="modal">
                        เสร็จสิ้น
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="text/javascript">
        $('.done-request').click(function(){
            var request_id = $(this).attr('request-id');
            var spinner_area = $('#spinner-area-request'+request_id);
            spinner_area.attr('data-target','');
            spinner_area.html('แจ้งเตือนผู้ใช้บริการ <i class="fa fa-spinner fa-spin white"></i>');
            $.ajax({
                type: "GET",
                url: '/service/request/' + request_id + '/done/',
                data: {},

                success: function (data) {
                    $('#done-' + request_id).modal('hide');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#panel-request-' + request_id).html(data);
                }
            });
        });
    </script>

{% endif %}