<!DOCTYPE html>

{% load staticfiles %}
{% load home_extra %}


<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CIS - {% block title %}Home{% endblock %}</title>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href ="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>



    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% block head_block %}
            <a class="navbar-brand" href="{% url 'index' %}">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> CIS
            </a>
            {% endblock %}
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if user and not user.is_anonymous %}
                    <li><a href="{% url 'index' %}">
                        {% if user_details.first_name_th %}
                            {{ user_details.first_name_th }} {{ user_details.last_name_th }}
                        {% else %}
                            {{ user.get_full_name }}
                        {% endif %}
                    </a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="app-menu" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                            เมนู
                        </a>
                        <ul class="dropdown-menu dropdown-menu right" aria-labelledby="app-menu">
                            {% block app_list %}
                                {% get_app_list user_details %}
                            {% endblock %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="app-menu" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            บัญชี
                        </a>
                        <ul class="dropdown-menu dropdown-menu right" aria-labelledby="profile-menu">
                            <li><a href="{% url 'profile' %}">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                ข้อมูล
                            </a></li>
                            {% comment %}
                            <li><a href="#">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                ตั้งค่า
                            </a></li>
                            {% endcomment %}
                            <li role="separator" class="divider"></li>
                            <li><a href="https://mail.google.com" target="_blank">
                                <i class="fa fa-google-plus"></i>
                                Gmail
                            </a></li>
                            <li><a href="{% url 'auth:logout' %}?next={{ request.path }}">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                ออกจากระบบ
                            </a></li>

                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">

   {% block body_block %}
   {% endblock %}

</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static "js/home.js" %}"></script>
<script src="{% static 'js/bootstrap-rating-input.js' %}" type="text/javascript"></script>
{% block include_js %}
{% endblock %}

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>